_/
dev/
dev.*
*-dev.*
*_dev.*
dev_*
dev-*

Meta

packrat/lib*/
packrat/src/*
!packrat/src/packrat

.Rproj.user

*.Rhistory

*.log

inst/extdata/prepared
inst/extdata/collection
inst/extdata/topmodels
